.content {
  background-color: $colour-white;
  margin: 2rem auto;
  padding: 2rem 1rem;
  color: $colour-gray-dark;
  text-align: center;
  position: relative;
  z-index: 10;

  @include mq('xl') {
    margin: 8rem auto;
    border-radius: 2rem;
    padding: 4rem;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 300;

    @include mq('xl') {
      font-size: 6rem;
    }
  }

  &__paragraph {
    font-size: 1.3rem;
    margin-top: 1rem;

    @include mq('xl') {
      font-size: 1.8rem;
      margin-top: 2rem;
    }
  }
}