.content {
  background-color: $colour-white;
  margin: 8rem auto;
  border-radius: 2rem;
  padding: 4rem;
  color: $colour-gray-dark;
  text-align: center;
  position: relative;
  z-index: 10;

  &__title {
    font-size: 6rem;
    font-weight: 300;
  }

  &__paragraph {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}