.contact {
  margin-top: 4rem;

  &__content {
    display: flex;
  }

  &__information,
  &__contacts {
    width: 50%;
    margin: 1rem 2rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__paragraph {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    text-align: left;
  }

  &__link {
    color: $colour-secondary-extra-light;
    transition: all 0.2s;

    &:hover {
      color: $colour-secondary;
    }
  }

  &__info-list {
    text-align: left;

    &-item {
      font-size: 1.4rem;
    }

    &-link {
      padding: 1rem;
      color: $colour-gray;
      display: flex;
      align-items: center;
      transition: 0.3s all;

      &:hover {
        color: $colour-gray-dark;
      }
    }

    &-icon {
      margin-right: 1rem;
    }
  }

}