.footer {
  margin: 4rem auto;
  text-align: center;

  &__social-link {
    margin: 0 1rem;
    position: relative;
    z-index: 5;
  }

  &__social-icon {
    color: $colour-white;
  }

  &__copyright {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}